

/* ##### Gerneral Css ##### */

/* ##### Navigation ##### */

#navigation {
	float: left;
	width: 400px;
	margin-right: 20px;
	background-color: grey;
}

.navigationPanel {
	width: 400px;
	float: left;
}


/* ##### body ##### */
#main {
	float: left;
	width: 400px;
}