
/* ##### Gerneral Css ##### */

/* ##### Navigation ##### */

/* #navigation { */
/* 	float: left; */
/* 	width: 30%; */
/* 	margin-right: 20px; */
/* 	background-color: grey; */
/* } */

/* .navigationPanel { */
/* 	width: 400px; */
/* 	float: left; */
/* } */


/* /* ##### body ##### */ */
/* #body { */
/* 	width: 100%; */
/* } */

/* #topWrapper { */
/* 	width: 80%; */
/* 	margin: 0 10%; */
/* 	height: 600px; */
/* 	text-align: center; */
/* } */

/* #navigation { */
	
/* } */

/* #main { */
/* 	float: left; */
/* 	width: 400px; */
/* } */

h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0 px 70px;
	text-align: center;
}

#navigation {
	float: left;
	width: 30 %;
	margin-rigth: 30px;
	backgroundcolor: grey;
}

#main {
	float: left;
	width: 400px;
}

.gwt-Button {
	
	background-color: grey;
	border: 1px solid black;
	display:inline-block;
	cursor: pointer;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	padding: 6px;
	text-decoration: none;
	width: 100px;
	heigth: 80px;
	
}

.gwt-TextBox {
	height: 20px;
	width: 400px;
	
}

#header {
	border-radius: 10px;
	
}

.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
	
}
.header_logo {
	align-items: strech;
	display: flex;
	flex-Shrink: 0
	min-height: 3.25rem;
	
}

.input {
    background-color: white;
    border-color: #dbdbdb;
    color: #363636;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    max-width: 100%;
    width: 100%;
    align-items: center;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 1.5rem;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(0.375em - 1px);
    padding-left: calc(0.625em - 1px);
    padding-right: calc(0.625em - 1px);
    padding-top: calc(0.375em - 1px);
    position: relative;
    vertical-align: top;
    border: 1px solid var(--light-color);
    padding: 0.5rem;
}

.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 1rem;
    height: 2.25em;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(0.375em - 1px);
    padding-left: calc(0.625em - 1px);
    padding-right: calc(0.625em - 1px);
    padding-top: calc(0.375em - 1px);
    position: relative;
    vertical-align: top;
 
    background-color: white;
    border-color: #dbdbdb;
    border-width: 1px;
    color: #363636;
    cursor: pointer;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: calc(0.375em - 1px);
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-top: calc(0.375em - 1px);
    text-align: center;
    white-space: nowrap;
}

.box {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
    margin-bottom: 1.5rem;
}

.grid_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
