

/* ##### Gerneral Css ##### */

/* ##### Navigation ##### */

#navigation {
	float: left;
	width: 30%;
	margin-right: 20px;
	background-color: grey;
}

.navigationPanel {
	width: 400px;
	float: left;
}


/* ##### body ##### */
#body {
	width: 100%;
}

#topWrapper {
	width: 80%;
	margin: 0 10%;
	height: 600px;
	text-align: center;
}

#navigation {
	
}

#main {
	float: left;
	width: 400px;
}