/** Add css rules here for your application. */
/**Styling der Div-Elemente*/

/**@author Larisa */

body {
	background-color: light grey; 
	font-familiy: "Arial", Helvetica, sans-serif;
}

html *{
	font-family: "Arial", Helvetica, sans-serif; 
	font-size: 18px;
	font-weight: light; 
}

div {
	padding: 8px;
	background-color: light grey;
}

/**Styling der HTML Div-Elemente */

#container {
	float: none;
	height: 100%;
	margin: 5px;
	width: 100%;
	background-color: light grey; 
	border-radius: 20px; 
}

#Header {
	background-color: #abd0d6;
	border-radius: 10px;
	font-size: 22px;
	font-weight: bold;
	border-style: inset; 
	margin-bottom: 10px;
}

#trailer {
	clear: both;
	padding: 10px;
	boarder-top: 1px light grey;
	font-size: 80%; 
	text-allign: center;
	background: #abd0d6; 
	color: light grey; 
	boarder-radius: 10px;
	boarder-style: inset; 
}

#InhaltDiv {
	float: left;
	margin-left: 10px;
	padding: 10px;
	width: 65%;
	font-size: 10pt;
	border-left: 2px solid #93a3a3; 
	margin-bottom: 10px; 
}

/** Styling von Button Elementen */

.gwt-Button {
	
	background-color: light grey; 
	border: 1px solid black; 
	display: inline-block; 
	cursor: pointer; 
	color: black; 
	font-family: Arial;
	font-size: 16px;
	padding: 6px 12px; 
	text-decoration: none; 
	width: 100px; 
	height: 80px; 
}

.gwt-TextBox {
	height: 20px;
	width: 400px;
}

.reportButton {
	width: 100%; 
	height: 80%; 
}

.shopIT-headline {
	font-size: 12pt; 
	font-weight: bold; 
	color: #abd0d6;
	margin: 0px; 
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left; 
}

.shopIT-simpletext {
	font-size: 100%;
	font-weight: normal; 
	padding: 3px;
}

.shopIT-label {
	font-size: 120%
	font-weight: bold;
	font-style: italic; 
	color: light grey; 
	padding-bottom: 0.5em; 
}

.shopIT-textfield {
	font-size: 100%;
	font-weight: normal;
	padding: 3px; 
	width: 15em; 
}

.shopIT-menubutton {
	font-size: 100%;
	font-weight: bold;
	width: 15em;
	margin-bottom: 1em;
}

.shopIT-button {
	font-size: 100%
	font-weight: bold; 
}

/**Stylen des Reports */

#header {
	border-radius: 10px;
	background-color: #abd0d6; 
}

.social-simpletext {
	
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: #abd0d6; 
}

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

html *{
	font-family: "Arial", Helvetica, sans-serif; 
	font-size: 18px;
	font-weight: light; 
}

div {
	padding: 8px;
	background-color: light grey;
}

/**Styling der HTML Div-Elemente */

#container {
	float: none;
	height: 100%;
	margin: 5px;
	width: 100%;
	background-color: light grey; 
	border-radius: 20px; 
}

#Header {
	background-color: #abd0d6;
	border-radius: 10px;
	font-size: 22px;
	font-weight: bold;
	border-style: inset; 
	margin-bottom: 10px;
}

#trailer {
	clear: both;
	padding: 10px;
	boarder-top: 1px light grey;
	font-size: 80%; 
	text-allign: center;
	background: #abd0d6; 
	color: light grey; 
	boarder-radius: 10px;
	boarder-style: inset; 
}

#InhaltDiv {
	float: left;
	margin-left: 10px;
	padding: 10px;
	width: 65%;
	font-size: 10pt;
	border-left: 2px solid #93a3a3; 
	margin-bottom: 10px; 
}

/**Stylen des Reports */

#header {
	border-radius: 10px;
	background-color: #abd0d6; 
}

.social-simpletext {
	
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: #abd0d6; 
}


/** Example rules used by the template application (remove for your app) */
/* h1 { */
/*   font-size: 2em; */
/*   font-weight: bold; */
/*   color: #777777; */
/*   margin: 40px 0px 70px; */
/*   text-align: center; */
/* } */

/* .sendButton { */
/*   display: block; */
/*   font-size: 16pt; */
/* } */

/* /** Most GWT widgets already have a style name defined */ */
/* .gwt-DialogBox { */
/*   width: 400px; */
/* } */

/* .dialogVPanel { */
/*   margin: 5px; */
/* } */

/* .serverResponseLabelError { */
/*   color: red; */
/* } */

/* /** Set ids using widget.getElement().setId("idOfElement") */ */
/* #closeButton { */
/*   margin: 15px 6px 6px; */
/* } */




