//@autor ines werner, emily kretzschmar

body {
	background-color: light grey; 
	font-familiy: "Arial", Helvetica, sans-serif;
	overflow: scroll;
}
html *{
	font-family: "Arial", Helvetica, sans-serif; 
	font-size: 18px;
	font-weight: light; 

}
div {
	padding: 8px;
}

.button-style {


	font-weight: bold;
    color: black;
	background-color: #e7e7e7;
   	border-radius: 8px;
   	background-color:rgb(255,192,203);

	border:1px solid #c2c2c2 !important; 
	
	border-radius: 5px;
	display: inline-block; 
	cursor: pointer; 
	
	font-family:"Arial", Helvetica, sans-serif;
	font-size: medium !important; 
	padding: 7px 14px; 
	text-decoration: none; 
	width: 130px; 
	height: 50px;
	margin: 20px 20px 20px 20px !important; 
 
}

.gwt-Button {
	/*background: #aedff7!important; */
	border: 1px solid white; 
	display: inline-block; 
	cursor: pointer; 
	color: black; 
	font-family:"Arial", Helvetica, sans-serif;
	font-size: small !important;
	font-weight: bold; 
	padding: 7px 14px; 
	text-decoration: none; 
	width: 130px; 
	height: 40px;
	margin: 20px 20px 20px 20px !important;  
	border-radius: 5px;
	border: 1px solid #c2c2c2 !important;
    border-bottom: 1px solid white !important;
    background: rgb(255,192,203) !important;
    align: center;
}

.label-style{

    font-size: 120%;
	font-weight: bold;
	font-style: italic;
	color: gray;
	padding-bottom: 0.5em;
}
h1{
	text-align:center;
	font-size: 45px;
	font-family: oxygen;
}

#links {
    float: left;
    width: 200px;
    height: 190px;
    margin-left: 20px;
   
}

}

